<div class = "controlHeaders"><label class = 'text_bold'>General Properties</label></div>
<div id="field-placement" class="propertiesContainer">
  <div style="width: 24%; text-align: right;" class = "propertiesContainerCell">
    <label class = 'text_normal'>Field Placement</label>
  </div>
  <div style="width: 50%; padding-left: 10px" class="propertiesContainerCell radio-group">
    <label><input name="field-place" type="radio" value="LAST_ROW">Last Row</label>
    <label><input name="field-place" type="radio" value="ROW_BEFORE">Row Before</label>
    <label><input name="field-place" type="radio" value="ROW_AFTER">Row After</label>
    <label><input name="field-place" type="radio" value="SAME_ROW">Same Row</label>
  </div>
  <div style="width: 26%" class="propertiesContainerCell">
    <select name="placement-control" class="textDropDown">
      <option></option>
    </select>
  </div>
</div>

	<div class = "propertiesContainer">
		<div style = 'width: 24%;' class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Form Name</label>
		</div>
		<div style = 'width: 76%;' class = "propertiesContainerCell" align = right >
			<input type = 'text' id = 'controlCaption' class = 'textBox' style = "width:99%" value = "{{caption}}">
		</div>
	</div>
	<div class = "propertiesContainer">
		<div style = 'width: 38.5%' class = "propertiesContainerCell" align = right>
			<label class = 'text_normal'>Attribute Name</label>
			<input id = 'userDefinedName' type = 'text' value = '{{userDefinedName}}' class = 'textBoxSmall'><input id = 'controlName' type = 'hidden' value = '{{controlName}}'>
		</div>
		<div class = "propertiesTextBoxContainer" align = right></div>			
	</div>
